<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>906915384002-12gvo013sb4h1htojss6vcgdcsrr84n8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.906915384002-12gvo013sb4h1htojss6vcgdcsrr84n8</string>
	<key>API_KEY</key>
	<string>AIzaSyDYBLsf3A8_uWyo9Ir_BZJD7hnhadHJsQE</string>
	<key>GCM_SENDER_ID</key>
	<string>906915384002</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>chin.groupnow</string>
	<key>PROJECT_ID</key>
	<string>groupnow-14e0a</string>
	<key>STORAGE_BUCKET</key>
	<string>groupnow-14e0a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:906915384002:ios:42ca7c42f171b7bbd8895b</string>
	<key>DATABASE_URL</key>
	<string>https://groupnow-14e0a.firebaseio.com</string>
</dict>
</plist>
